@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
    /**/
        
        
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
    /**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
    /**/


/* Small Devices, Tablets */
@media only screen and (max-width : 530px)
    /**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
    /**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
    /**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.sectionService .service__left-descr
        border-bottom: none
        &::before
            content: ""
            position: absolute
            width: 1px
            height: 100%
            top: 6px
            right: -14px
            background-color: #fff


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
    .section1
        width: 100%
        height: 80px
        background-color: $blue
        line-height: 80px
        .header
            &-brand
                text-transform: uppercase
                color: #fff
                font-style: italic
                font-weight: bold
                font-size: 26px
            .hamburger
                font-size: 26px
                color: #fff
    .bar
        top: 80px
        width: 280px
        &-soc
            font-size: 1.2em
        .menu
            &-item
                a
                    font-size: 1.4em
        .menu1::before
            content: ""
            position: absolute
            top: 10px
            width: 40px
            height: 1px
            background-color: #fff
        .menu1::after
            content: ""
            position: absolute
            top: 130px
            width: 40px
            height: 1px
            background-color: #fff
        .menu2::before
            content: ""
            position: absolute
            top: 240px
            width: 40px
            height: 1px
            background-color: #fff
        .menu3::before
            content: ""
            position: absolute
            top: 330px
            width: 40px
            height: 1px
            background-color: #fff
        .menu3
            &-link
                width: 30px
                height: 30px
                .fa
                    font-size: 20px
                    top: 6px
                    right: 1px
        
    .arrowUp
        position: fixed
        bottom: 16px
        right: 20px
        font-size: 34px
        border: 1px solid black
        padding: 2px
        border-radius: 50%
        width: 38px
        height: 38px
        text-align: center
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        background-color: transparent
        transition: all .2s ease
        &:hover
            cursor: pointer
            background-color: #e6e6e6
        .fa
            color: #000000
            font-size: 26px
            padding-bottom: 2px

    .footer
        position: relative
        background-color: $blue
        height: 84px
        width: 100%
        .footer__bottom
            &-title
                margin: 0
                padding: 0
                color: #fff
                letter-spacing: 2px
                font-style: italic
                font-weight: 100
                font-size: 1.8em
            &-link
                width: 30px
                height: 30px
                display: inline-block
                border-radius: 50%
                margin: 0 12px 0 12px
                .fa
                    font-size: 20px
                    position: relative
                    top: 5px
                    right: 1px


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

