@import "part"
@import "normalize"
@import "libs"
@import "vars"
@import "fonts"


html
    scroll-behavior: smooth

body
    overflow-x: hidden
    font-family: $arial
    font-weight: 400
    margin: 0
    padding: 0

a
    color: #fff
    transition: all .2s ease

ul
    list-style-type: none
    padding: 0
    margin: 0

a:hover
    color: #000000
    text-decoration: none

.counter
    width: 120px
    height: 80px
    border: 1px solid black
    text-align: center
    line-height: 70px
    padding-right: 10px
    margin-top: 10px

.box
    width: 240px
    height: 80px
    border: 1px solid black
    text-align: center
    line-height: 70px
    padding-right: 10px
    margin-top: 10px

.image
    margin-top: 10px
    width: 800px
    height: 500px
    border: 1px solid #000
    background-repeat: no-repeat
    background-position: center center
    background-size: cover


@import "media"